.env
venv/
.venv/
__pycache__/
*.pyc
.data/raw_documents/Bid1/Student and Staff Computing Devices __SOURCING #168884__ - Bid Information - {3} _ BidNet Direct.html
.data/raw_documents/Bid2/Dell Laptops w_Extended Warranty - Bid Information - {3} _ BidNet Direct.html